{% extends 'base.html' %}

{% block content %}
<h1>Create New Post</h1>
<form action="" method="POST">
    <h3>Title</h3>
    <input type="text" name="title-input" placeholder="Title of your post" required>
    <h3>Content</h3>
    <textarea name="content-input" placeholder="Content for your post" rows="5" cols="50" required style="resize: none;"></textarea>
    <h3>Tags</h3>
    {% for tag in tags %}
    <label for="tag-checkboxes">{{tag.name}}</label>
    <input type="checkbox", value="{{tag.id}}", name="tag-checkboxes">
    {% endfor %}
    <br>
    <br>
    <button class="red-button" type="button" onclick="document.location='/users/{{user.id}}'">CANCEL</button>
    <button type="submit">SAVE</button>
</form>
{% endblock %}